@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    color: var(--black3);
    font-family: 'Poppins', sans-serif;
}

:root {
    --white1: #ffffff;
    --white2: #fefefe;
    --black1: #000000;
    --black2: #111111;
    --black3: #222222;
    --black4: #333333;
}

body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}